<table>
    <tr>
        <td>&nbsp;</td>
        <td class="{{topColor}}">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="{{colors[0]}}">&nbsp;</td>
        <td class="{{colors[1]}}">&nbsp;</td>
        <td class="{{colors[2]}}">&nbsp;</td>
    </tr>
    <tr>
        <td class="{{colors[3]}}">&nbsp;</td>
        <td class="{{colors[4]}}">&nbsp;</td>
        <td class="{{colors[5]}}">&nbsp;</td>
    </tr>
    <tr>
        <td class="{{colors[6]}}">&nbsp;</td>
        <td class="{{colors[7]}}">&nbsp;</td>
        <td class="{{colors[8]}}">&nbsp;</td>
    </tr>
</table>